/***************************************************************
 * 
 * Project     : PennyWise
 * 
 * File name   : investments.css
 * 
 * Authors     : Diego Moscoso & Jacob Summerville
 * 
 * Description : This file sets the theme for investments.html
 *               website
 * 
 ***************************************************************/


#investmentTable {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-spacing: 0;
    width: 80%;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

#investmentTable th {
    cursor: pointer;
    background-color: #cccccc;
}

#investmentTable th, #investmentTable td {
    text-align: center;
    padding: 12px;
    border: 1px solid gray;
}

#investmentTable input {
    width: 100%;
    font: 18px Arial, sans-serif;
}

.acctCol {
    width: 15%;
}

.dateCol {
    width: 15%;
}

.amtCol {
    width: 15%;
}

.catCol {
    width: 20%;
}

.descCol {
    width: 25%;
}

.actionCol {
    width: 10%;
    font: 14px Arial, sans-serif;
}

.hiddenCol {
    display: none;
}