#helpDiv {
    margin-left: 100px;
    margin-top: 50px;
    width: 70%;
}

#contentHeader {
    color: var(--color_default_text);
}

#sectionHeader {
    margin-top: 50px;
    color: #ff8080;
}

#descText {
    margin-top: 50px;
    color: var(--color_default_text);
    font: 20px Arial, sans-serif;
    line-height: 2;
    list-style-position: inside;
}

.textLinks {
    color: #ff8080;
    font: 20px Arial, sans-serif;
    text-decoration: None;
}